* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    margin: 0px;
    overflow: hidden; 

    font-family: 'Lato', sans-serif;
    font-size: 14pt;
}
body {
  margin-right: 5px;
}
hr {
  margin-top: 20px;
  margin-bottom: 10px;
}
#kernelPopUp, #kernelBackground {
  position: absolute;
  width: calc(75% - 225px);
  /* height: 75%; */
  top: 12.5%;
  left: calc(12.5% - 75px);
  display: none;
}
#kernelBackground {
  background-color: #fff;
  opacity: 93%;
  border-radius: 5px;
  display: none;
}
#kernelsWrapper {
  padding-top: 30px;
  display: table;
}
#popupDesc {
  padding-top: 40px;
}
#popupDesc p {
  padding-bottom: 20px;
}
#aboutDS {
  background-color: #000;
  color: #eee;
}
.kernelRow {
  display: table-row;
}
.kernelHolder {
  display: table-cell;
  text-align: center;
  vertical-align: top;
}
#closePopup {
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  font-size: 56px;
  line-height: 45px;
  float: right;
  padding:2px 5px;
  background:#ccc;
  border-radius: 0 5px 0 0;
  cursor: pointer;
}
#currentDither {
  font-size: 36px;
}
#popupContent {
  padding: 30px;
}
#kernelMap, #kernelMap_Down {
  padding-top: 10px;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#see_kernel, #about_link {
  display: inline-block;
}
.section, h1 {
  padding-bottom: 20px;
}
#studiestitle {
  display: inline-block;
}
h3 {
  padding-bottom: 20px;
}
h3 span {
  display: block;
}
#flowSection {
  padding-top: 10px;
  padding-bottom: 0px;
}
#see_kernel {
  padding-top: 10px;
}
/* input[type=radio] {
  margin-left: 15px;
} */
#ditheringAlgorithm {
  margin-top: 20px;
}
select {
  font-size: 120%;
  width: 95%;
  padding-top: 7px;
  padding-bottom: 7px;
}
.colorpicker {
  width: 10%;
}
#outerContainer {
    display: flex;
}
#bigContainer
{
    flex: 1;
    overflow: hidden;
}
#controls_wrapper 
{
  height: 100%;
  width: 300px;
  padding: 0px;
  margin: 0;
}
#controls
{
  padding-left: 5px;
  width: 295px;
  margin: 0;
}

.slidecontainer {
    width: 85%;
    display: inline-block;
    vertical-align: middle;
    padding-left: 3%;
}

#sliders {
    padding-top: 15px;
}

.slider_psize {
  display: inline-block;
  vertical-align: middle;
  width: 78%;
  margin-left: 5px;
}
#pixelSizeLabel {
  padding: 2px;
  vertical-align: baseline;
  margin-top: 40px;
}

/* The slider itself */
.slider, .slider_psize {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    height: 10px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    margin-top: 10px;
    margin-bottom: 20px;
}
.slider {
  width: 95%;
}
#playbuttons {
  margin-top: 10px;
}
.play {
    height: 40px;
    cursor: pointer;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 1px;
    padding-left: 4px;
    padding-right: 4px;
}
.play:hover {
    background-color: #d3d3d3;
}
.activated {
  background-color: #d3d3d3;
}
  /* Mouse-over effects */
  .slider:hover,  .slider_psize:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb,  .slider_psize::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #333333; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb, .slider_psize::-moz-range-thumb {
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #333333; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

.button {
  float: left;
  margin: 0;
  width: 45px;
  height: 34px;
  position: relative;
  vertical-align: middle;
}
.choiceLabel {
  padding-right: 10px; 
  float: left; 
  vertical-align: baseline; 
  line-height: 30px;
}
  .hex img {
    margin-top: -1px;
  }
  .button .small {
    float: left;
    margin: 0 5px 5px 0;
    width: 60px;
    height: 30px;
    position: relative;
  }
  .btn-small {
    height: 30px;
  }
  .small img {
    height: 20px; 
    vertical-align: middle;
  }
  .button label,
  .button input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: #eee; */
  }
  .button input[type="radio"] {
    opacity: 0.011;
    z-index: 100;
  }
  .button input[type="radio"]:checked + label {
    background: #ddd;
  }
  .button input[type="radio"]:hover + label {
    background: #ccc;
  }
  .button label {
    /* line-height: 20px; */
    text-align: center;
    cursor: pointer;
    z-index: 90;
    border-right: solid 1px #ccc;
  }
  .button label.btn-last {
    border-right: none;
  }
#dither_color_controls {
  display: inline-block;
}